<!DOCTYPE HTML>
<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
<html>
<body>
<div class="card m-4">
    <div class="card-body">
        <h5 class="card-title" th:text="${contact.id} ? 'Edition d\'un contact' : 'Creation d\'un contact'"/>
    </div>
    <div class="card-body">
        <form action="#" th:action="@{/contacts}" th:object="${contact}" th:method="${contact.id} ? 'put' : 'post'">
            <input th:if="${contact.id}" type="hidden" th:field="*{id}">
            <div class="d-flex flex-column flex-lg-row">
                <div class="form-group col-lg-6  col-12">
                    <label for="lastname">Lastname</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Enter lastname"
                           th:field="*{lastName}">
                    <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/>
                </div>
                <div class="form-group col-lg-6  col-12">
                    <label for="firstname">Firstname</label>
                    <input type="text" class="form-control" id="firstname" placeholder="Enter phone number"
                           th:field="*{firstName}">
                    <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/>
                </div>
            </div>
            <div class="d-flex flex-column flex-lg-row">
                <div class="form-group col-lg-6  col-12">
                    <label for="phonenumber">Phone number</label>
                    <input type="text" class="form-control" id="phonenumber" placeholder="Enter phone number"
                           th:field="*{phoneNumber}">
                    <small th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"/>
                </div>
                <div class="form-group col-lg-6  col-12">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Enter email"
                           th:field="*{email}">
                    <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
</body>
</html>