<!DOCTYPE HTML>
<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="card m-4">
    <div class="card-body">
        <h5 class="card-title">Listes des contacts</h5>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contact : ${contacts}">
                    <th scope="row" th:text="${contact.id}"/>
                    <td th:text="${contact.firstName}"/>
                    <td th:text="${contact.lastName}"/>
                    <td th:text="${contact.phoneNumber}"/>
                    <td th:text="${contact.email}"/>
                    <td>
                        <a class="btn btn-primary" th:href="@{/edit_contact(id=${contact.id})}" role="button">Edit</a>
                        <button type="button" class="btn btn-danger"
                                th:onclick="|onDelete('${contact.id}', '@{/delete_contact(id=${contact.id})}')|">Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-body">
        <a class="btn btn-primary" th:href="@{/add_contact}" role="button">Ajouter un contact</a>
    </div>
</div>
</body>
</html>
<script>
    function onDelete(id, url) {
        var form = document.createElement("form");
        form.method = "POST";
        var element = document.createElement("INPUT");
        element.name = "_method";
        element.type = "hidden";
        element.value = "delete";
        form.appendChild(element);
        form.action = url;
        document.body.appendChild(form);

        form.submit();
    }
</script>